
@media(max-width: 500px){
    .top-bar-middle{
        display: none;
    }
        .top-bar-right{
        display: none;
    }
    
}

@media (max-width: 1080px){
    .top-bar-middle{
        display: none;
    }
    .search-input{
       width: 80%;
    }
  
    
}
@media (max-width: 972px) {
    .nav-icon{
        display: none;
    }
    .Buy{
        display: none;
    }
    #Bestselling{
        width: 60%;
    }
}